<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" >
        <div class="container ">
            <a href="#" class="navbar-brand">Chetan Shetti</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#about-head-section" class="nav-link">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a href="#experience-section" class="nav-link">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a href="#skill-section" class="nav-link">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a href="#education-section" class="nav-link">Education</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
<!--About Me Section-->

    <section id="about-head-section">
        <div class="container">
            <div class="row">
                <div class="col text-center py-5">
                    <h1 class="display-4">About Me</h1>
                    <p class="lead">That is what you are about to find out in this page. Keep reading. . . </p>
                    <a href="#" class="btn btn-outline-secondary ">Find Out More</a>
                </div>
            </div>
        </div>
    </section>

    <section id="about-section" class="bg-white text-muted py-3">
        <div class="container shadow-lg">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="{% static 'img/profile_photo.jpeg' %}" class="img-fluid mb-3 rounded-circle ">
                </div>
                <div class="col-md-6">
                    <h3 class="py-4">Contact Info</h3>
                    <div class="d-flex">
                        <div class="align-self-start">
                            <i class="fas fa-map-marker fa-2x"></i>
                        </div>
                        <div class="pl-5 pb-5 pt-1 align-self-end">
                                <h4>Taleigao, Goa</h4>
                        </div>
                    </div>
                        
                    <div class="d-flex">
                        <div class="align-self-start">
                            <i class="fas fa-phone fa-2x"></i>
                        </div>
                        <div class="pl-5 pb-5 pt-1 align-self-end">
                            <h4>+91 9482184971</h4>
                        </div>
                    </div>

                    <div class="d-flex" >
                        <div class="align-self-start">
                            <i class="fas fa-envelope fa-2x"></i>
                        </div>
                        <div class="pl-5 pb-3 pt-1 align-self-end">
                            <h4>hi.chetan94@gmail.com</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- My Experience Section -->    

<!-- ACCORDION -->
<section id="experience-section" class="py-5 text-center bg-darkr">
    <div class="container shadow-lg">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1 class="text-white ">
                        <u>Experience:</u> 
                    </h1>
                    <h4 class="pb-3">practical contact with and observation of facts or events:</h4>
             
                </div>    
        
                <div id="accordion" class="">
                    <div class="card bg-light">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                                    <i class="fas fa-arrow-circle-down"></i> The First Job
                                </div>
                            </h5>
                        </div>

                        <div id="collapse1" class="collapse show">
                            <div class="card-body bg-light">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm">
                                            <h5 class="float-left">IBM India Pvt Ltd</h5>
                                            <p class="float-right text-muted">SEPT 2018 - PRESENT</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm">
                                            <h5 class="float-left ">Software Engineer</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm text-justify">                      
                                            <p class="">Job responsibilities included to create and maintain User Reports. 
                                                Coordinate with the Business Team to finalize new requirements. 
                                                Maintain transparency between data displayed in portal and reports.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm text-left">
                                            <p>Job Responsibilities:</p>
                                            <ul class="text-left">
                                                <li class="">Daily checks and performance monitoring along with
                                                    database administration activities.</li>
                                                <li class="">Maintain/modify SQL queries for Cognos reports.</li>
                                                <li class="">Improved report performance by 5%.</li>
                                                <li class="">DB2 backup and recovery process.</li>
                                                <li class="">Automation using shell scripting</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="card bg-light">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                                    <i class="fas fa-arrow-circle-down"></i> Internship
                                </div>
                            </h5>
                        </div>

                        <div id="collapse2" class="collapse">
                            <div class="card-body bg-light">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm">
                                            <h5 class="float-left">IBM India Pvt Ltd</h5>
                                            <p class="float-right text-muted">JAN 2018 - JUL 2018</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm">
                                            <h5 class="float-left ">Project Intern</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm text-justify">                      
                                            <p class="">As an intern the work was to collaborate with the team to create a 
                                                new report using IBM Cognos Report Studio and IBM DB2. In 
                                                addition, was able to understand the project structure.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row container">
                                        <p>Job Responsibilities:</p>
                                        <ul class="text-left">
                                            <li class="">Gain hands on experience as an IT professional.</li>
                                            <li class="">Shadowing and training with knowledgeable professionals along with the ability to work in teams. </li>
                                            <li class="">Opportunity to attend networking events and company 
                                            meetings.</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-light">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <div href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                                    <i class="fas fa-arrow-circle-down"></i> College Days
                                </div>
                            </h5>
                        </div>

                        <div id="collapse3" class="collapse">
                            <div class="card-body bg-light">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit odit laborum qui, debitis, sequi dolores nobis mollitia
                                labore quasi earum laboriosam nihil cupiditate magnam iusto nostrum doloremque accusantium repudiandae
                                expedita autem et, repellendus suscipit consequatur! Alias, maiores amet sunt ab inventore illo, deleniti
                                facilis consequatur tenetur nam pariatur fuga nisi!
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Skill Section-->

    <section id="skill-section" class="bg-light py-2" >
        <div class="container shadow-lg mb-5">
            <div class="row ">
                <div class="col py-5 text-center">
                    <h1 class="text-dark">
                        <u>Skills:</u> 
                    </h1>
                    <h4 class="pb-5 text-dark">the ability to do something well; expertise</h4>

                    <table class="table table-hover">
                    <tbody>
                        <tr>
                        <td><i class="fas fa-database fa-2x"></td>
                        <td><h4>Database</h4></td>
                        <td><h5>IBM DB2</h5></td>
                        </tr>

                        <tr>
                        <td><i class="fas fa-file-code fa-2x"></td>
                        <td><h4>Programming</h4></td>
                        <td><h5>SQL, Python, Django</h5></td>
                        </tr>

                        <tr>
                        <td><i class="fas fa-code-branch fa-2x"></td>
                        <td><h4>Tracking</h4></td>
                        <td><h5>JIRA, Git</h5></td>
                        </tr>

                        <tr>
                        <td><i class="fas fa-tools fa-2x"></i> </td>
                        <td><h4>Tools</h4></td>
                        <td><h5>IBM Cognos Report Studio, <br/>IBM Cognos Framework Manager</h5></td>
                        </tr>

                        <tr>
                        <td><i class="fas fa-server fa-2x"></td>
                        <td><h4>DevOps</h4></td>
                        <td><h5>IBM UrbanCode Deploy</h5></td>
                        </tr>                        
                    </tbody>
                    </table>

                </div>
            </div>

        </div>
    </section>

<!--Education section -->

<section id="education-section" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-white"><u>Education:</u></h1>
                    <h4 class="">Facts, skills and ideas that have been learned, either formally or informally.</h4>
                </div>
            </div>
        </div>
    </section>

<section id="education-body-section" class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card text-center border-primary pb-3">
                    <div class="card-body">
                        <h3 class="text-primary"><u>Class X</u></h3>
                        <p class="text-dark">Year of Passing: 2010</p>
                        <p class="text-dark">Score: 61%</p>
                        <p class="text-dark">Board: </p>
                        <p class="text-dark">Goa Board of Secondary and Higher Secondary Education.</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-center bg-primary text-white pb-3">
                    <div class="card-body">
                        <h3><u>Class XII</u></h3>
                        <p class="text-white">Year of Passing: 2012</p>
                        <p class="text-white">Score: 62%</p>
                        <p class="text-white">Board: </p>
                        <p class="text-white">Goa Board of Secondary and Higher Secondary Education.</p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-center border-primary">
                    <div class="card-body">
                        <h3 class="text-primary"><u>Graduation</u></h3>
                        <p class="text-dark">Course: BCA</p>
                        <p class="text-dark">Year of Passing: 2015</p>
                        <p class="text-dark">Score: 7.27 (CPI)</p>
                        <p class="text-dark">University: Goa University </p>
                        <p class="text-dark"> - Don Bosco College, Panaji - </p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-center bg-primary text-white">
                    <div class="card-body">
                        <h3><u>Post Graduation</u></h3>
                        <p class="text-white">Course: MCA</p>
                        <p class="text-white">Year of Passing: 2018</p>
                        <p class="text-white">Score: 7.2 (CGPI)</p>
                        <p class="text-white">College: </p>
                        <p class="text-white">RV College of Engineering.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
    
</body>
</html>